.button {
    -fx-border-color:darkgray;
    -fx-border-radius: 10 10 10 10 ;
    -fx-border-width: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3 ), 5, 0, 0, 1);

}
.button:pressed{

    -fx-effect: dropshadow(gaussian, red, 10, 0.8, 0, 0);

}

.table-view {
    -fx-background-color: linear-gradient(to bottom, burlywood, honeydew);
}

.table-view {
    -fx-border-color: forestgreen;
    -fx-border-width: 2px;
}
.table-cell {
    -fx-alignment: CENTER;
    -fx-padding: 5px;
}
.column-header {

    -fx-background-color: peachpuff;
    -fx-font-size: 19px;
    -fx-font-weight: bold;
    -fx-font-family: "DejaVu Serif";
}

.table-row-cell:selected {

    -fx-background-color: olivedrab;
    -fx-text-fill: midnightblue;

}
.table-row-cell {
    -fx-cell-size: 40px;
    -fx-font-family: Kinnari;
    -fx-font-size: 17px;
    -fx-fill-width: bold;
}
.table-view .column-header-background {
    -fx-pref-height:45px;
}
.table-view .table-cell{
    -fx-border-color: slategrey;
    -fx-border-width: 0.3px;
}
.combo-box{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-family: Arial;
    -fx-font-scale: bold;
    -fx-font-size: 22px;

}
.combo-box:hover {
    -fx-border-color: red;
    -fx-border-width: 0  2 0 2;
}

.combo-box:focused {
    -fx-border-color: #1e90ff;
    -fx-border-width: 0  0 1 0;
}

.combo-box .list-view {

    -fx-font-size: 16pt;
    -fx-font-family: Arial;
    -fx-font-scale: bold;
    -fx-text-fill: #333333;
    -fx-border-color: #333333;
    -fx-border-width: 1px;
}
.text-field:hover {
    -fx-border-color: red;
    -fx-border-width: 0  2 0 2;
}

.text-field:focused {
    -fx-border-color: #1e90ff;
    -fx-border-width: 0  0 1 0;
}

.text-field{
    -fx-background-color: transparent;
    -fx-border-color: transparent;

}
#myPane {
    -fx-background-color: radial-gradient(center 60% 60%, radius 90%, lemonchiffon, lightgray);
}